@font-face {
    font-family: "SayaFY-Bold";
    src: url('SayaFY-Bold.ttf')  format('truetype');
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    height: 400vh;
    font-family: "SayaFY-Bold";
    font-weight: 400;
}


