h4.title-ayuda {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15vh;
    margin-top: 0;
}

.contenedor-ayuda-main .div1 .text-detail {
    margin: 30px 0 40px;
}


img {
    max-width: 100%;
    vertical-align: bottom;
}
img {
    border: 0;
}

.contenedor-ayuda-main{
	margin-top: 10vh;
	margin-bottom: 10vh;
}